<div class="w-100 h-100 bg-success d-flex" style="padding-top: 60px; overflow: hidden">
  <div id="chat_boxes">
    <mat-button-toggle-group vertical [(ngModel)]="current">
      <mat-button-toggle *ngFor="let cb of chat_boxes" [value]="cb">
        <app-chatbox [chat_box]="cb" style="height: 60px"></app-chatbox>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>
  <div id="messages">
    <div *ngIf="current == null">
      Welcome to Chat Box
    </div>
    <app-chatbox-message *ngIf="current != null" [chat_box]="current"></app-chatbox-message>
  </div>
</div>
