<div class="container h-100">
  <div class="row align-items-center h-100">
    <div class="col">
      <mat-card style="max-width: 300px; margin: auto">
        <form [formGroup]="form" (ngSubmit)="login()" autocomplete="off">
          <mat-card-header class="justify-content-center">
            <mat-card-title>
              <h1 class="text-center">
                Login
              </h1>
            </mat-card-title>
            <mat-card-subtitle>
              <mat-label style="color: darkgreen" [hidden]="!status">{{status}}</mat-label>
              <mat-error>{{error}}</mat-error>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Username or Email</mat-label>
              <input type="text" matInput formControlName="username" autocomplete="off">
              <mat-icon matPrefix color="primary">account_circle</mat-icon>
            </mat-form-field>
            <br>
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Password</mat-label>
              <input [type]="hide ? 'password' : 'text'" matInput formControlName="password" autocomplete="off">
              <mat-icon matPrefix color="primary">lock</mat-icon>
              <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
            <br>
            <p class="text-center">
              <button mat-raised-button color="primary" class="w-50">Submit</button>
            </p>
            <p class="text-center">
              <button routerLink="/signup" mat-raised-button color="accent" class="w-50">Register</button>
            </p>
          </mat-card-content>
        </form>
      </mat-card>
    </div>
  </div>
</div>
