<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <button mat-flat-button routerLink="/" style="cursor: pointer; background:none;font-size: 25px">Mochi</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
  <button mat-raised-button routerLink="profile/{{username}}">Profile</button>
  <button
    mat-raised-button
    routerLink="/chat"
    color="primary"
    [matBadge]="this.unread ? '&#8288;' : ''"
    matBadgeColor="warn"
    matBadgeSize="small"
  >Chat
  </button>
  <button mat-raised-button color="warn" (click)="logout()">Logout</button>
</mat-toolbar>
